<!DOCTYPE html>
<html>
  <head>
    <title>Story</title>
    <meta charset='utf-8'>
  </head>
  <body>
    <p>It was almost @Model.Holiday, so @Model.Name1 knew they had to get grocery shopping. They @Model.Verb1 to the @Model.Store1 and picked up a 
      @Model.Noun1. They looked at their list. They needed to get @Model.Adjective1 @Model.Noun2, @Model.Adjective2 @Model.Noun3. They couldn't find anything! 
      Eventually they saw their friend, @Model.Name2, and @Model.Verb2 them for help. Their friend @Model.Verb3. "You're in the @Model.Adjective3 place!" they 
      said. "This is a @Model.Store2."
    </p>
  </body>
</html>